<mat-toolbar>
   <mat-icon>account_circle</mat-icon>    
    Processos
</mat-toolbar>

<mat-tab-group>
    <mat-tab>

        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            Todos
        </ng-template>

      <mat-card>
            <table mat-table [dataSource]="processos" matSort (matSortChange)="ordernarColuna($event)" matSort class="tela-toda">
             
                <ng-container matColumnDef="npu">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="npu"> NPU </th>
                    <td mat-cell *matCellDef="let p"> {{ p.npu }} </td>
                </ng-container>

                <ng-container matColumnDef="uf">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="uf"> UF </th>
                    <td mat-cell *matCellDef="let p"> {{ p.uf }} </td>
                </ng-container>

                <ng-container matColumnDef="dataCadastro">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="dataCadastro"> DATA DE CADASTRO </th>
                    <td mat-cell *matCellDef="let p"> {{ p.dataCadastro }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                <tr mat-row *matRowDef="let how; columns: colunas;"></tr>

            </table>

            <mat-paginator [pageSize]="tamanho"
                           [length]="totalElements" 
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="paginar($event)"
                            >
            </mat-paginator>
         

        </mat-card>


    </mat-tab>

    <mat-tab>
    
        <ng-template mat-tab-label>
            <mat-icon>face</mat-icon>
            Novo
        </ng-template>
  

      <mat-card class="tela-metade">

        <mat-card-title>Novo</mat-card-title>

        <form [formGroup]="formulario" (ngSubmit)="submit()">
            <mat-form-field class="tela-toda">
                <mat-label>NPU:</mat-label>
                <input matInput formControlName="npu" placeholder="Digite o NPU" >
            </mat-form-field>
        
            <div *ngIf="formulario.controls.npu.errors && !formulario.controls.npu.pristine">
                <div *ngIf="formulario.controls.npu.errors.required">
                    Campo NPU obrigatório
                </div>
            </div>
        
          
            <mat-form-field>
              <mat-label>UF</mat-label>
              <mat-select formControlName="uf"  (selectionChange)="getMunicipios($event.value)">
                <mat-option *ngFor="let u of ufs" [value]="u.sigla">
                  {{u.sigla}}
                </mat-option>
              </mat-select>
            </mat-form-field>
           
            <h4></h4>
            <mat-form-field>
              <mat-label>Município</mat-label>
              <mat-select formControlName="municipio">
                <mat-option *ngFor="let m of municipios" [value]="m.nome">
                  {{m.nome}}
                </mat-option>
              </mat-select>
            </mat-form-field>

        
            <div *ngIf="formulario.controls.uf.errors && !formulario.controls.uf.pristine">
                <div *ngIf="formulario.controls.uf.errors.required">
                    Campo UF obrigatório
                </div>
            </div>
        
            <div *ngIf="formulario.controls.municipio.errors && !formulario.controls.municipio.pristine">
                <div *ngIf="formulario.controls.municipio.errors.required">
                    Campo Município obrigatório
                </div>
            </div>

            <mat-form-field class="tela-toda">
                <mat-label>Documento:</mat-label>   
                   <input type="text" readonly matInput />             
               <div >
                    <input  type="file" name="documento" (change)="uploadPDF($event)" >    
                </div>
            </mat-form-field>
        
            <div *ngIf="formulario.controls.documento.errors && !formulario.controls.documento.pristine">
                <div *ngIf="formulario.controls.documento.errors.required">
                    Campo Dcumento obrigatório
                </div>
            </div>

        
        
            <button  mat-raised-button color="primary">Salvar</button>
        
        </form>
    </mat-card>   

    </mat-tab>

  
    
</mat-tab-group>

